DSS_BASE_URL=https://dss.cryptopro.ru
DSS_LOGIN=твой_логин_в_dss
DSS_PASSWORD=твой_пароль_в_dss
DSS_PIN=Test1234
DSS_CLIENT_ID=ПОЛУЧИТЬ_ОТ_КРИПТОПРО
DSS_CLIENT_SECRET=
JWT_SECRET=rb_office_jwt_secret_2024
ONLYOFFICE_URL=http://85.239.61.19:8080
SIGNATURES_DIR=./signatures
DOCUMENTS_DIR=./documents
